.card {
    float: left;
    padding: 10px;
    margin: 10px;
  }

p {
  float: left;
  margin: 10px;

}

h3 {
    text-align: center;

}

section {
  text-align: left;
  padding: 10px;
  margin: 10px;

}

button {
  text-align: center;

}


ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: black;

}

ul {
  border: 1px solid #ddd;
  margin-top: 10px; /* Prevent double borders */
  background-color: #cbdee4;
  padding: 12px;
  font-size: 20px;
  color: black;


  
}
